<header>
	<div class="container header">
		<div class="row">
			<div class="col-8-10">
				<!-- Logo -->
					<a href="/" class="logo"><img src="assets/img/logo.png" alt="DEFY logo" ></a>
				<!-- nav -->
				<ul class="nav">
					<li><a href="">Products</a></li>
					<li><a href="">Support</a></li>
					<li><a href="">Lifestyle</a></li>
					<li><a href="">Find a retailer</a></li>
				</ul>
			</div>
			<div class="col-1-5 right">
				<ul class="user_area">
					<li><a href="#" class="sign_in">Sign in</a></li>
					<li><span class="icon search"></span></li>
				</ul>
			</div>
			<div class="search-box">
			  <form role="search" action="" method="get">
			    <input type="search" id="s" name="s" placeholder="Search..."/>
			  </form>
			  <div class="close icon"></div>
			</div>
			<a class="menu" href="#menu">
				<span></span>
			</a>
		</div>
	</div>
</header>