$mob-pad: 30px
$v-space: 40px
body 
	background-color: $white
// Main 
#main
	position: relative
	width: 100%
	height: auto
	margin: 0
	padding: 0
	z-index: 10
	background-color: transparent
	font-size: 14px
	.container, .container-fluid
		.row
			padding: 0 $mob-pad/2
			margin: 0 auto
			+min-break($smart-landscape)
				padding: 0 $mob-pad
	.hero
		width: 100%
		padding: 32% 0
		h1
			font-size: 2.7em
			line-height: 1em
			margin-bottom: $mob-pad
		p
			display: table-cell
			font-size: 1.2em
			height: inherit
			line-height: 1.4em
			vertical-align: middle
			width: auto
		+min-break($smart-landscape)
			h1
				font-size: 3em
			p
				font-size: 1em
		.fusion	
			background-color: $white
			border-top-right-radius: 42px
			border-bottom-right-radius: 42px
			height: 84px
			margin: 0 0 0 -30px
			padding: 0 100px 0 30px
			color: $blue
			position: relative
			float: left
			.aqua
				+sprite($aqua)
				position: absolute
				right: 20px
				top: 50%
				margin-top: -28px
			p strong
				font-family: $cg_bold
				font-weight: normal
		ul
			display: none
			color: $blue
			width: 100%
			float: left
			font-size: 0.8em
			margin-top: $mob-pad/2
			li
				list-style-type: disc
				display: list-item
				padding-left: 10px
				margin-left: 10px
		.btn
			margin-top: 30px
		+min-break($tablet)
			ul
				display: block
	.appliances
		float: left
		padding: $v-space 0
		$arrowSize: 23px
		.row
			position: relative
			.col-1-1
				overflow: hidden
		.left
			left: $mob-pad/2
			+sprite($back)
		.right
			right: $mob-pad/2
			+sprite($next)
		.arrow
			position: absolute
			margin-top: -13px
			top: 50%
			display: none
			&.active
				display: block
		+min-break($smart-landscape)
			.left
				left: $mob-pad
			.right
				right: $mob-pad
		ul, li
			display: inline-block
		ul 
			width: 180px *7
			li 
				display: inline-block
				float: left
				min-width: 140px
				width: auto
				padding-top: 130px
				text-align: center
				float: left
				background-position: top center
				
				background-repeat: no-repeat
				&.fridges	
					background-image: url(../../assets/img/fridges.png) 
				&.sm_app
					background-image: url(../../assets/img/small_appliances.png) 
				&.microwaves
					background-image: url(../../assets/img/microwaves.png) 
				&.dishwashers
					background-image: url(../../assets/img/dishwashers.png) 
				&.stoves
					background-image: url(../../assets/img/stoves.png) 
				&.aircon
					background-image: url(../../assets/img/aircon.png)
					background-position: center 25px
				&.bic
					background-image: url(../../assets/img/built_in_cooking.png) 
				a
					color: $grey-dark
					font-size: 1.286em
					line-height: 1.167em
					width: 100%
					display: block
					min-height: 40px	
					padding: 5px 0				
					&:hover
						color: $link-blue
						background-color: $grey-light
					b
						font-family: $cg_bold
						font-weight: normal
						width: 100%
						display: block
			
		+min-break($tablet)
			ul
				width: 100%
				margin: 0 auto
				display: table
				li
					display: table-cell
					min-width: auto
					float: unset
					width: 92.5px
					padding-top: 75px
					a
						font-size: 0.857em
						min-height: 25px
					&.fridges	
						background-size: 41px auto
					&.sm_app
						background-size: 38px 57px
					&.microwaves
						background-size: 69px auto
					&.dishwashers
						background-size: 56px auto
					&.stoves
						background-size: 55px auto
					&.aircon
						background-size: 62px auto 
						background-position: center 25px
					&.bic
						background-size: 55px auto
		+min-break($desktop)
			ul
				li
					padding-top: 135px
					a
						font-size: 1.286em
						line-height: 1em
					&.fridges	
						background-size: 69px auto
					&.sm_app
						background-size: 63px auto
					&.microwaves
						background-size: 115px auto
					&.dishwashers
						background-size: 93px auto
					&.stoves
						background-size: 92px auto
					&.aircon
						background-size: 105px auto 
						background-position: center 25px
					&.bic
						background-size: 93px auto
				
				






	+min-break($desktop)
		position: relative
		min-height: 100%
		
	 

