$mob-pad: 30px
$tab-pad: 15px
$desk-pad: 30px
$v-space: 40px
body 
	background-color: $white
// Main 
#main
	position: relative
	width: 100%
	height: auto
	margin: 0
	padding: 0
	z-index: 10
	background-color: transparent
	font-size: 14px
	.container, .container-fluid
		max-width: $max-width
		.row
			max-width: $content-max-width
			padding: 0
			margin: 0 auto			
			+min-break($smart-landscape)
				padding: 0 $tab-pad/2
		.btn	
			font-family: $cg_bold
	.hero
		min-height: 450px
		transform: height 0.5s ease
		width: 100%
		padding-top: 70px
		h1
			font-size: 2.7em
			line-height: 1em
			margin-bottom: $mob-pad
		p
			display: table-cell
			font-size: 1em
			height: inherit
			line-height: 1.263em
			vertical-align: middle
			width: auto
		&:first-child
			background-color: rgba(0,0,0, 0.75)
			+min-break($smart-landscape)
				background-color: transparent
		.col-2-3
			margin: 40px 0
		+min-break($smart-landscape)
			h1
				font-size: 3em
			p
				font-size: 1em
		.fusion	
			background-color: $white
			border-top-right-radius: 42px
			border-bottom-right-radius: 42px
			height: 84px
			margin: 0 0 0 -30px
			padding: 0 100px 0 30px
			color: $blue
			position: relative
			width: auto
			float: left
			.aqua
				//+sprite($aqua)
				transition: all 0.35s ease-in-out
				background: url(../../assets/img/aqua.png) no-repeat center center
				background-size: cover
				width: 55px
				height: 56px
				margin-top: -27.5px
				position: absolute
				right: 15px
				top: 50%

			p strong
				font-family: $cg_bold
				font-weight: normal
			+min-break($smart-landscape)
				height: 84px
				width: 405px
				margin: 0 0 0 -35px
				padding: 0 100px 0 35px
				.aqua	
					width: 55px
					height: 56px
					margin-top: -27.5px
			+min-break($tablet)
				height: 84px
				width: 390px
				margin: 0 0 0 -50px
				padding: 0 100px 0 50px
			+min-break($desktop)
				height: 100px
				width: 615px
				margin: 0 0 0 -130px
				padding: 0 100px 0 130px
				border-top-right-radius: 50px
				border-bottom-right-radius: 50px
				.aqua	
					width: 67px
					height: 67px
					margin-top: -33.5px
			
		ul
			display: none
			color: $blue
			width: 100%
			float: left
			font-size: 0.8em
			margin-top: $mob-pad/2
			li
				list-style: none
				display: list-item
				padding-left: 10px
				margin-left: 10px
				&:before
					content: "·"
					font-size: 3em
					left: -15px
					position: absolute
					top: -1px
					vertical-align: middle
		.btn
			margin-top: 30px
		+min-break($smart-landscape)
			min-height: 622px
			p
				font-size: 1.429em
			.col-2-3
				margin: 100px 0
		+min-break($tablet)
			min-height: 600px
			h1
				font-size: 3.133em
				line-height: 1em
				margin-bottom: 17px
				letter-spacing: 0
			p
				font-size: 1.067em
				line-height: 1.3em
			.col-2-3
				margin: 60px 0
			ul
				display: block
				li
					padding-left: 4px
			.btn
				font-size: 0.867em
				padding: 5px 25px
				margin-left: 17px
		+min-break($desktop)

			min-height: 850px
			padding-top: 100px
			.row
				padding: 0 $desk-pad
			.col-2-3
				margin: 190px 0
			h1
				font-size: 4.5em
				margin-bottom: 30px
			p
				font-size: 1.5em
				letter-spacing: 1px
			ul
				margin-top: $desk-pad
				li
					font-size: 15px
					line-height: 22px
					padding-left: 10px
					&:before
						font-size: 2.5em
						top: 0
			.btn
				font-size: 18px
				padding: 8px 35px
				margin: 30px 20px
				line-height: 1.53m
				border-width: 3px
			hr
				display: none

	.appliances
		padding: $v-space 0
		$arrowSize: 23px
		.row
			position: relative
			.col-1-1
				overflow: hidden
				-webkit-overflow-scrolling: touch
		.left
			left: $mob-pad/2
			+sprite($back)
		.right
			right: $mob-pad/2
			+sprite($next)
		.arrow
			position: absolute
			margin-top: -13px
			top: 50%
			display: none
			z-index: 1000
			cursor: pointer
			&.active
				display: block
		+min-break($smart-landscape)
			.left
				left: $mob-pad
			.right
				right: $mob-pad
		ul, li
			display: inline-block
		ul 
			width: 180px *7
			padding-left: 25px
			position: relative
			li 
				display: inline-block
				float: left
				min-width: 140px
				width: auto
				padding-top: 130px
				text-align: center
				float: left
				background-position: top center
				
				background-repeat: no-repeat
				&.fridges	
					background-image: url(../../assets/img/fridges.png) 
				&.sm_app
					background-image: url(../../assets/img/small_appliances.png) 
				&.microwaves
					background-image: url(../../assets/img/microwaves.png) 
				&.dishwashers
					background-image: url(../../assets/img/dishwashers.png) 
				&.stoves
					background-image: url(../../assets/img/stoves.png) 
				&.aircon
					background-image: url(../../assets/img/aircon.png)
					background-position: center 25px
				&.bic
					background-image: url(../../assets/img/built_in_cooking.png) 
				a
					color: $grey-dark
					font-size: 1.286em
					line-height: 1.167em
					width: 100%
					display: block
					min-height: 40px	
					padding: 5px 0				
					&:hover
						color: $pink
					b
						font-family: $cg_bold
						font-weight: normal
						width: 100%
						display: block
			
		+min-break($smart-landscape)
			ul
				padding-left: 10px
		+min-break($tablet)
			.row
				padding: 0 $desk-pad
			ul
				width: 100%
				margin: 0 auto
				padding-left: 0
				display: table
				left: 0
				li
					display: table-cell
					min-width: auto
					float: unset
					width: 92.5px
					padding-top: 75px
					a
						font-size: 0.857em
						min-height: 25px
					&.fridges	
						background-size: 41px auto
					&.sm_app
						background-size: 38px 57px
					&.microwaves
						background-size: 69px auto
					&.dishwashers
						background-size: 56px auto
					&.stoves
						background-size: 55px auto
					&.aircon
						background-size: 62px auto 
						background-position: center 25px
					&.bic
						background-size: 55px auto
		+min-break($desktop)
			ul
				li
					padding-top: 135px
					a
						font-size: 1.286em
						line-height: 1em
					&.fridges	
						background-size: 69px auto
					&.sm_app
						background-size: 63px auto
					&.microwaves
						background-size: 115px auto
					&.dishwashers
						background-size: 93px auto
					&.stoves
						background-size: 92px auto
					&.aircon
						background-size: 105px auto 
						background-position: center 25px
					&.bic
						background-size: 93px auto
		
	.content
		$padd25: 25px
		font-size: 13px
		padding: 0 10px
		+min-break($smart-landscape)
			padding: 0 $desk-pad
		.row	
			padding: 0
			.tbl
				margin: 0 auto 30px
			.col-1-2, 
			.col-1-3
				float: unset
			.col-1-2
				width: 100%
				min-height: 395px
				height: 395px
				text-align: center
				.block	
					padding: $padd25
					&.bottom 
						vertical-align: bottom
				+min-break($smart-landscape)
					.block	
						padding: $padd25*2 25px
			.col-1-3	
				width: 90%
				min-height: 220px
				height: 200px
				.block	
					padding: $padd25
					vertical-align: bottom
				+min-break($smart-landscape)
					width: 66.66%
			+min-break($tablet)
				.col-1-2, 
				.col-1-3
					float: left
					margin: 0 auto 40px
				.col-1-2
					width: 50%
					min-height: auto
					height: 438px
					.block
						vertical-align: bottom
						&.innovation	
							vertical-align: top
				.col-1-3
					width: 33.33%
		.block	
			color: $white
			float: none
			height: inherit		
			position: relative
			p
				margin: 10px auto 0
				padding: 0
				font-size: 1.3em
				line-height: 1.375em
				+min-break($smart-landscape)
					padding: 0 30px
					margin: 23px auto 0 auto
			h1,h2,h3,h4,h5
				text-transform: uppercase
				color: $white
				margin: 0
				&.tolower	
					text-transform: none
			h2
				font-size: 4.5em
				line-height: 0.75em
				font-family: $cg_bold
				margin: 8px 0 12px
				&.light
					font-size: 2.050em
			h3
				font-size: 2.7em
				line-height: 1.11em
				font-family: $cg_bold
				+min-break($smart-landscape)
					font-size: 3.214em
				
			h4
				font-size: 1.857em
			h5
				font-size: 1.5em
			.hashtag
				clear: both
				display: block
				text-align: left
				font-family: $cg_bold
				margin-top: 1em
				position: absolute
				bottom: $padd25 - 5
				left: $padd25
			.btn
				margin: 0 auto
				float: unset
				display: inline-block
				clear: both
				margin-top: 25px
				padding: 7px 33px 
				font-size: 15px
				border-width: 3px

				&.blue
					background-color: $link-blue
					color: $white
					&:hover
						background-color: $pink
						border-color: $pink
				&.white
					border-color: $white
					color: $white
					&:hover
						background-color: $link-blue
						border-color: $link-blue
			&.link-block
				a
					width: auto
					display: inline-block
					position: relative
					bottom: -2px
					left: 0
					letter-spacing: 1px
					font-size: 1.714em
					line-height: 1.1em
					color: $white
					&:hover
						color: $pink
					strong
						clear: both
						display: block
						font-weight: normal
						font-family: $cg_bold
					span
						position: absolute
						bottom: 5px
						right: -25px
						+sprite($redarrow)

			+min-break($tablet)
				font-size: 12px
				p
					font-size: 1.1em
					padding: 0 5px
				h3
					font-size: 3.714em
					line-height: 1.07em
					font-family: $cg_bold
				h4
					font-size: 1.857em
			+min-break($desktop)
				font-size: 15px
				h3
					font-size: 3.467em
					line-height: 1.07em
					font-family: $cg_bold
				h4
					font-size: 2em
					line-height: 1.5em
				.btn
					padding: 7px 40px 10px 40px
					font-size: 18px
			+min-break($desktop-alt)
				p
					font-size: 1.2em		
		

	+min-break($tablet)
		font-size: 15px			
	+min-break($desktop)
		font-size: 16px	
		position: relative
		min-height: 100%
		
	 

