<footer>
	<div class="container-fluid light-grey-bg footer-nav">
		<div class="row ">
			<div class="col-1-2">
				<ul class="nav"><li><a href="#">Products</a></li><li><a href="#">Support</a></li><li><a href="#">Lifestyle</a></li><li><a href="#">About</a></li><li><a href="#">Contact</a></li></ul>
			</div>
			<div class="col-1-2 right">
				<ul class="social">
					<li><a href="#"><i class="icon facebook"></i></a></li>
					<li><a href="#"><i class="icon twitter"></i></a></li>
					<li><a href="#"><i class="icon linkedin"></i></a></li>
					<li><a href="#"><i class="icon pinterest"></i></a></li>
					<li><a href="#"><i class="icon youtube"></i></a></li>
					<li><a href="#"><i class="icon instagram"></i></a></li>
				</ul>				
			</div>
        </div>   
	</div>
	<div class="container-fluid copyright">
		<div class="row">
			<div class="col-1-2 right">
				<p>All products shown are for display purposes and specifications may differ from actual products in stores. All product, specifications and data are subject to change without notification to improve reliability.</p>
			</div>
		</div>
	</div>
</footer> 