<div class="bg-font-adjust-bg nojs">
    <div class="container">
        <div class="row">
            <!-- New Element - HTML has been added on 12/05/2016 -->
            <div class="notification dark-copy col-1-1">
                <div class="graphic">
                    <i class="icon java-script"></i>
                </div>
                <div class="desc">
                    <p><b>You have disabled JavaScript on your browser.</b> Please enable it for the best user experience.</p>
                </div>
            </div>
        </div>
    </div>
</div>