$americanswiss: -157px -18px 115px 15px
$athome: -245px -37px 58px 21px
$athomelivingspace: -2px -2px 151px 18px
$charleskeith: -157px -2px 152px 12px
$colette: -36px -113px 48px 18px
$cookie: -2px -24px 50px 50px
$donnaclare: -106px -97px 96px 12px
$duesouth: -206px -97px 82px 12px
$exact: -199px -113px 55px 12px
$fabiani: -88px -113px 55px 15px
$fix: -2px -147px 48px 16px
$foschini: -2px -78px 106px 15px
$gstar: -157px -62px 133px 12px
$hi: -2px -167px 30px 21px
$js: -2px -113px 30px 30px
$markham: -2px -97px 100px 12px
$matmay: -112px -78px 100px 12px
$next: -147px -113px 48px 15px
$soda: -56px -51px 95px 17px
$sportscene: -157px -37px 84px 21px
$sterns: -56px -24px 73px 23px
$totalsports: -216px -78px 88px 12px

=sprite-width($sprite)
  width: nth($sprite, 3)

=sprite-height($sprite)
  height: nth($sprite, 4)

=sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 1)
  $sprite-offset-y: nth($sprite, 2)
  background-position: $sprite-offset-x  $sprite-offset-y

=sprite($sprite)
  +sprite-position($sprite)
  background-repeat: no-repeat
  overflow: hidden
  display: block
  +sprite-width($sprite)
  +sprite-height($sprite)

.icon
  background-image: url('../img/sprite.png')

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)
  .icon
    background-image: url('../img/sprite@2x.png')
    background-size: 311px 190px

