<div class="container-fluid hero" data-vide-bg="assets/video/hero_bg" data-vide-options="posterType: jpg, loop: true, resizing: true, muted: true, position: 0% 0%">
	<div class="col-1-2">
		<h1><span class="tight">8<span>kg</span></span><br>Autowasher</h1>
		<div class="fusion">
			<p><strong> Aquafusion Technology </strong><br>clean more, consume less</p>
			<span class="icon aqua"></span>
		</div>		
		<ul>
			<li>Prevents loss of detergent</li>
			<li>Noticeably cleaner clothes</li>
			<li>Optimises use of energy, water and detergent</li>
		</ul>
		<a href="/" class="btn clear blue">View</a>
	</div>
 </div>

