<div class="container-fluid appliances">
	<div class="row">
		<div class="col-1-1">
			<span class="left arrow icon"></span><span class="right arrow icon"></span>
			<ul>
				<li class="fridges"><a href="/"><b>Fridges</b></a></li>
				<li class="sm_app"><a href="/"><b>Small</b>Appliances</a></li>
				<li class="microwaves"><a href="/"><b>Microwave</b>Ovens</a></li>
				<li class="dishwashers"><a href="/"><b>Laundry &amp;</b>Dishwashers</a></li>
				<li class="stoves"><a href="/"><b>Stoves</b></a></li>
				<li class="aircon"><a href="/"><b>Aircon</b></a></li>
				<li class="bic"><a href="/"><b>Built in</b>Cooking</a></li>
			</ul>
		</div>
	</div>
	
 </div>

