// loading bg
.loading
	background-image: url("../img/loading.gif")
	display: block
	position: absolute
	top: 22px
	right: 16px
	width: 16px
	height: 16px
	background-size: auto

// Notifications
.cookie
	+sprite($cookie)
.java-script
	+sprite($js)

// Footer
.americanswiss
	+sprite($americanswiss)

.icon
	display: inline-block
	vertical-align: top
	box-sizing: content-box
	text-indent: -9999em
